.hero {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 var(--large-padding);
  color: var(--text-color);
}

.greetings {
  position: relative;
  z-index: 1;
  font-size: 2em;
  font-family: "montserrat";
}

.referenceText {
  position: relative;
  cursor: pointer;
}

.references {
  font-size: 20px;
  color: var(--error-color);
  position: absolute;
  top: -20px;
}

.greetings h1 {
  position: relative;
  top: 0;
  font-size: 2.1em;
  color: var(--accent-color);
  animation: glitch 1s infinite;
}
.greetings h1::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: -2px 0 red;
  animation: glitch-mirror 1s infinite;
}
.greetings h1::after {
  position: absolute;
  content: attr(data-text);
  left: -2px;
  top: 0;
  text-shadow: -2px 0 rgb(250, 82, 250), 2px 2px red;
  animation: glitch-mirror 1s infinite;
}

.glitch-text span {
  position: absolute;
  opacity: 0;
  animation: text-switch 12s infinite;
}

.glitch-text span:nth-child(1) {
  animation-delay: 0s;
}
.glitch-text span:nth-child(2) {
  animation-delay: 2s;
}
.glitch-text span:nth-child(3) {
  animation-delay: 4s;
}
.glitch-text span:nth-child(4) {
  animation-delay: 6s;
}
.glitch-text span:nth-child(5) {
  animation-delay: 8s;
}
.glitch-text span:nth-child(6) {
  animation-delay: 10s;
}

.project-section {
  margin: 0 auto;
  padding: 10px 0;
}

.section-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header::before,
.section-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 60%;
  background: linear-gradient(
    var(--card-bg),
    var(--background-color),
    transparent 80%
  );
  z-index: 1;
}

.section-header::before {
  left: 0;
  clip-path: polygon(0% 70%, 70% 70%, 30% 0%, 0% 0%);
}

.section-header::after {
  right: 0;
  clip-path: polygon(30% 70%, 100% 70%, 100% 0%, 70% 0%);
}

.section-header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-locked);
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 35vw;
  justify-content: center;
  align-items: center;
}

.section-header strong {
  color: var(--accent-color);
}

.project-body {
  position: sticky;
  top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: center;
  margin-bottom: 50px;
  padding: var(--small-padding) var(--large-padding);
  background: transparent;
  z-index: 1;
}

.project-item {
  flex: 1;
  background: var(--card-bg);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 80vh;
  min-width: 400px;
  color: var(--card-text);
}

.project-item:hover img {
  transform: scale(1.1);
}

.project-image {
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 400px;
}

.project-item img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--small-padding);
}

.project-item h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--text);
}

.project-item p {
  flex: 1;
  font-size: 1rem;
  line-height: 1.4;
}

.project-item a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.about-body {
  padding: var(--large-padding);
  font-size: 1rem;
  line-height: 1.4;
  color: var(--text-color);
}

.skill-category {
  display: flex;
  position: relative;
  align-items: flex-end;
  padding: var(--small-padding) 0;
  margin: var(--gap) 0;
}

.container-image img {
  height: 25vh;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.lang-container {
  position: absolute;
  top: 29%;
  left: -7%;
  display: flex;
  gap: var(--gap);
  z-index: -1;
}

.lang {
  position: relative;
  width: 10vw;
  text-align: center;
  gap: var(--gap);
  transform-origin: left center;
  transform: translateX(0) scaleX(0) scaleY(0);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.3s ease;
}

.lang-container.active .lang {
  pointer-events: auto;
  opacity: 1;
  transform: translateX(300px) scaleX(1) scaleY(1);
}

.lang-container.active .lang:nth-child(1) {
  transition-delay: 0.2s;
}

.lang-container.active .lang:nth-child(2) {
  transition-delay: 0.3s;
}

.lang-container.active .lang:nth-child(3) {
  transition-delay: 0.4s;
}

.scroller {
  display: flex;
  height: 20vh;
  top: 45px;
  position: relative;
  width: 90vw;
  overflow: hidden;
  --duration: 25s;
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  align-items: center;
}

.scroller[data-animated] .inner {
  display: flex;
  gap: var(--gap);
  animation: scroll var(--duration) linear infinite;
  cursor: pointer;
}

.scroller:hover .inner {
  animation-play-state: paused;
}

.inner > * {
  flex: 0 0 auto;
  padding: var(--small-padding);
  background: var(--card-bg);
  border-radius: calc(var(--border-radius) / 2);
  transition: transform 0.3s, box-shadow 0.3s;
  min-width: 10vw;
  text-align: center;
}

.inner > *:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: var(--box-shadow);
}

.skill-tech {
  border-top: 0.25px solid var(--primary-color);
  border-bottom: 0.25px solid var(--primary-color);
}

.skill-soft {
  border-right: 0.25px solid var(--primary-color);
  border-left: 0.25px solid var(--primary-color);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  font-size: var(--text-size);
  margin: var(--gap) 0;
}

.card-item {
  background-color: var(--card-bg);
  color: var(--card-text);
  padding: var(--small-padding);
  border-radius: calc(var(--border-radius) / 2);
  cursor: pointer;
  display: flex;
}

.card-desc {
  margin-left: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.certifications .card-item {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.certifications .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certifications .card-main-course .card-img {
  position: absolute;
  left: calc(50% - var(--img-width) / 2);
  transition: all 0.8s ease;
  backdrop-filter: blur(1px);
}

.certifications .card-desc {
  margin-left: calc(var(--gap) + var(--img-width));
  padding: var(--gap);
  padding-left: calc(var(--gap) / 2);
  visibility: hidden;
  opacity: 0;
  height: 100%;
}

.certifications .card-item:hover .card-desc {
  visibility: visible;
  opacity: 1;
}

.card-main-course .card-item:hover .card-desc {
  transition: opacity 0.4s ease 0.5s;
}

.card-main-course .card-item:hover .card-img {
  left: var(--small-padding);
}

.card-side-course {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap);
  overflow: hidden;
}

.certifications .card-side-course .card-item {
  width: 50%;
}

.card-side-course .card-desc {
  position: absolute;
}

.card-udemy {
  padding: 5px;
  overflow: hidden;
  --card-title-bg: #be32f5;
  color: var(--text-color);
}

.card-udemy .card-desc .card-title {
  border-radius: calc(var(--border-radius) / 2) calc(var(--border-radius) / 2) 0
    0;
  color: white;
}

[data-theme="light"] {
  .card-udemy .card-title {
    --card-title-bg: white;
    color: black;
    /* border: 5px solid #be32f5;
    border-bottom-width: 0px; */
  }
}

.card-udemy .card-desc {
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
  border-radius: var(--border-radius);
  justify-content: flex-start;
}

.card-udemy p {
  padding: calc(var(--small-padding) / 2);
  font-weight: 600;
}

.card-udemy:hover {
  background-color: black;

  .card-img {
    transform: scale(18.9);
  }

  .card-title {
    background-color: var(--card-title-bg);
  }

  .card-desc {
    transition: ease 0.2s;
  }
}

.udemy-cards {
  /* display: flex; */
  /* gap: var(--gap); */
  /* padding: var(--small-padding); */
  /* overflow-y: scroll;
  display: grid;
  grid-gap: calc(var(--gap) / 2);
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: center;
  align-content: center;
  align-items: center; */

  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  padding: 1rem;
  place-items: center;
  transition: all 0.3s ease;
}

.udemy-item {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  width: 77%;
  align-items: flex-start; */

  font-size: 0.65rem;
  background-color: #be32f5;
  border-radius: calc(var(--border-radius) / 2);
  padding: var(--small-padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;

  /* transform-style: preserve-3d; */
  /* transition: transform 0.4s ease, box-shadow 0.4s ease; */
  /* will-change: transform; */
  /* 
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  flex: 1;
  margin: 0 0.5rem;
  padding: 1.2rem;
  border-radius: 16px;
  text-align: center;
  cursor: pointer; */
}

.card-linkedIn {
  background-color: #0066c8;
}

.edu-inline {
  display: flex;
  align-items: baseline;
}

.card-desc h2,
.card-desc h3 {
  color: var(--accent-color);
}

.card-desc p {
  font-size: calc(var(--text-size) - 0.15rem);
}

.card-desc p strong {
  color: var(--accent-color);
  font-size: var(--text-size);
}

.card-desc-top,
.card-desc-bottom {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.card-title,
.card-bottom-left {
  text-align: left;
}

.card-bottom-left {
  display: flex;
  gap: 30px;
}

.card-date,
.edu-bottom-right {
  text-align: right;
  display: flex;
}

.edu-bottom-right {
  align-items: center;
}

.card-button {
  flex-direction: row;
  color: var(--text-color);
  position: relative;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.card-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--primary-color);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.card-button:hover {
  color: var(--primary-color);
}

.card-button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.card-item:hover .card-button {
  visibility: visible;
}

.card-item img {
  height: 100%;
  max-height: 15vh;
  transition: transform 0.3s ease;
}

.card-item:hover img {
  transform: scale(1.1);
}

.previous-education {
  display: flex;
  justify-content: center;
  gap: var(--gap);
}

.previous-education .card-item {
  width: 50%;
}

@media (max-width: 768px) {
  .highest-education .card-item,
  .previous-education .card-item {
    width: 90%;
  }

  .previous-education {
    flex-direction: column;
    align-items: center;
  }

  .inner > * {
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
  }

  .section-header::before,
  .section-header::after {
    content: none;
  }
  .section-header h1 {
    width: auto;
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}
@keyframes text-switch {
  0%,
  16%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
    filter: blur(8px);
  }
  3%,
  13% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
@keyframes glitch {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(4deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(3deg);
  }
  50% {
    transform: skew(3deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(-4deg);
  }
  80% {
    transform: skew(0deg);
  }
  90% {
    transform: skew(2deg);
  }
  100% {
    transform: skew(-1deg);
  }
}
@keyframes glitch-mirror {
  0% {
    -webkit-clip-path: inset(195% 0%);
    clip-path: inset(195% 0%);
    transform: skew(0.18deg);
  }
  5% {
    -webkit-clip-path: inset(106% 0%);
    clip-path: inset(106% 0%);
    transform: skew(0.65deg);
  }
  10% {
    -webkit-clip-path: inset(20% 0%);
    clip-path: inset(20% 0%);
    transform: skew(0.55deg);
  }
  15% {
    -webkit-clip-path: inset(50% 0%);
    clip-path: inset(50% 0%);
    transform: skew(1deg);
  }
  20% {
    -webkit-clip-path: inset(72% 0%);
    clip-path: inset(72% 0%);
    transform: skew(0.7deg);
  }
  25% {
    -webkit-clip-path: inset(183% 0%);
    clip-path: inset(183% 0%);
    transform: skew(0.29deg);
  }
  30% {
    -webkit-clip-path: inset(17% 0%);
    clip-path: inset(17% 0%);
    transform: skew(0.68deg);
  }
  35% {
    -webkit-clip-path: inset(180% 0%);
    clip-path: inset(180% 0%);
    transform: skew(0.63deg);
  }
  40% {
    -webkit-clip-path: inset(92% 0%);
    clip-path: inset(92% 0%);
    transform: skew(0.07deg);
  }
  45% {
    -webkit-clip-path: inset(122% 0%);
    clip-path: inset(122% 0%);
    transform: skew(0.97deg);
  }
  50% {
    -webkit-clip-path: inset(149% 0%);
    clip-path: inset(149% 0%);
    transform: skew(0.18deg);
  }
  55% {
    -webkit-clip-path: inset(115% 0%);
    clip-path: inset(115% 0%);
    transform: skew(0.24deg);
  }
  60% {
    -webkit-clip-path: inset(12% 0%);
    clip-path: inset(12% 0%);
    transform: skew(0.08deg);
  }
  65% {
    -webkit-clip-path: inset(174% 0%);
    clip-path: inset(174% 0%);
    transform: skew(0.28deg);
  }
  70% {
    -webkit-clip-path: inset(172% 0%);
    clip-path: inset(172% 0%);
    transform: skew(0.32deg);
  }
  75% {
    -webkit-clip-path: inset(51% 0%);
    clip-path: inset(51% 0%);
    transform: skew(0.77deg);
  }
  80% {
    -webkit-clip-path: inset(150% 0%);
    clip-path: inset(150% 0%);
    transform: skew(0.35deg);
  }
  85% {
    -webkit-clip-path: inset(30% 0%);
    clip-path: inset(30% 0%);
    transform: skew(0.53deg);
  }
  90% {
    -webkit-clip-path: inset(153% 0%);
    clip-path: inset(153% 0%);
    transform: skew(0.02deg);
  }
  95% {
    -webkit-clip-path: inset(97% 0%);
    clip-path: inset(97% 0%);
    transform: skew(0.28deg);
  }
  100% {
    -webkit-clip-path: inset(99% 0%);
    clip-path: inset(99% 0%);
    transform: skew(0.41deg);
  }
}
