:root {
  --card-bg: #1a1a1a;
  --text: #eee;
  --gap: 40px;
  --padding: 20px;
  --border-radius: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

nav {
  position: fixed;
  width: 100vw;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  border-bottom: 1px solid #333;
  box-shadow: rgba(67, 66, 66, 0.35) 0px 5px 15px;
}

.logo img {
  height: 30px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #aaa;
  position: relative;
  text-decoration: none;
}

.nav-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #aaa;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-links a:nth-last-child(2) {
  color: gold;
}

.mode-toggle {
  border: none;
  background: transparent;
  color: gold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.mode-toggle:hover {
  transform: rotate(-30deg) scale(1.1);
}

.main {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 120px;
}

.greetings {
  position: relative;
  z-index: 1;
  font-size: 2em;
  font-family: "montserrat";
}

.greetings h1 {
  position: relative;
  top: 0;
  font-size: 2.1em;
  color: gold;
  animation: glitch 1s infinite;
}

.glitch-text span {
  position: absolute;
  opacity: 0;
  animation: text-switch 12s infinite;
}

.project {
  height: 274vh;
  margin: 0 auto;
  padding: 0 100px;
}

.projectSection {
  position: sticky;
  top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: center;
  margin-bottom: 50px;
  padding: var(--padding);
  background: transparent;
  z-index: 1;
}

.projectItem {
  flex: 1;
  background: var(--card-bg);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 80vh;
}

.projectItem:hover img {
  transform: scale(1.1);
}

.projectImage {
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 400px;
}

.projectItem img {
  width: 100%;
  object-fit: fill;
  transition: transform 0.3s ease;
}

.projectContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.projectItem h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--text);
}

.projectItem p {
  flex: 1;
  font-size: 1rem;
  line-height: 1.4;
}

.projectItem a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
